[core]
	editor = vim
	excludesfile = /home/michal/.gitexcludes
	autocrlf = input

[user]
	name = Michal Vyšinský
	email = Michal.Vysinsky@DixonsCarphone.com
	signingkey = 4CAC31F35E38F4CE
[push]
	default = current
[rebase]
	autosquash = true
[gui]
	editor = code
[diff]
	tool = meld
	guitool = meld
[difftool]
	prompt = false
[merge]
	tool = meld
[credential]
	helper = osxkeychain
[cola]
	spellcheck = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
