[core]
	editor = "vim"
	excludesfile = ~/.gitexcludes
	autocrlf = input

[push]
	default = current
[rebase]
	autosquash = true
[gui]
	editor = code
[diff]
	tool = meld
	guitool = meld
[difftool]
	prompt = false
[merge]
	tool = meld
[credential]
	helper = osxkeychain
[cola]
	spellcheck = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true

[user]
	name = Michal Vyšinský
    email = michal@vysinsky.cz
    signingkey = 8AD85DFBE2FA30A8

[includeIf "gitdir:~/work/"]
    path = .gitconfig-work
[commit]
	gpgsign = true
[color]
	ui = auto
	branch = auto
    status = auto
    pager = true
    diff = auto
    interactive = auto
[gpg]
	program = gpg
